<!doctype html>
<html>
<head>
    <title>Add a Student</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <h1>Add a Student</h1>
    <form method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="Year" placeholder="year">
        <br>
        <p> did you finshed the lab? </p>
        <p>Yes</p>
        <input type="radio" name="lab" value="True">
        <br>
        <p> Nop )-: </p>

        <input type="radio" name="lab" value="False">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
